#header
	%h1 UK<span>Course</span>Map
	%p Find Your Ideal Course, Fast


#body
	
#svg_gradients
	%svg{:xmlns => "http://www.w3.org/2000/svg", :width => "100%", :height => "100%", :viewBox => "0 0 1 1", :preserveAspectRatio => "none"}
		%linearGradient{ :id => "gradient_1", :gradientUnits => "userSpaceOnUse", :x1 => "0%", :y1 => "0%", :x2 => "100%", :y2 => "100%"}
			%stop{:"stop-color" => "rgb(193,39,45)", :offset => "0"}
			%stop{:"stop-color" => "rgb(237,28,36)", :offset => "1"}
		%linearGradient{ :id => "gradient_2", :gradientUnits => "userSpaceOnUse", :x1 => "0%", :y1 => "0%", :x2 => "100%", :y2 => "100%"}
			%stop{:"stop-color" => "rgb(46,49,146)", :offset => "0"}
			%stop{:"stop-color" => "rgb(255,0,255)", :offset => "1"}
		%linearGradient{ :id => "gradient_3", :gradientUnits => "userSpaceOnUse", :x1 => "0%", :y1 => "0%", :x2 => "100%", :y2 => "100%"}
			%stop{:"stop-color" => "#C1272D", :offset => "0"}
			%stop{:"stop-color" => "#ED1C24", :offset => "1"}
		%linearGradient{ :id => "gradient_4", :gradientUnits => "userSpaceOnUse", :x1 => "0%", :y1 => "0%", :x2 => "100%", :y2 => "100%"}
			%stop{:"stop-color" => "#C1272D", :offset => "0"}
			%stop{:"stop-color" => "#ED1C24", :offset => "1"}
		%linearGradient{ :id => "gradient_5", :gradientUnits => "userSpaceOnUse", :x1 => "0%", :y1 => "0%", :x2 => "100%", :y2 => "100%"}
			%stop{:"stop-color" => "#C1272D", :offset => "0"}
			%stop{:"stop-color" => "#ED1C24", :offset => "1"}
		%linearGradient{ :id => "gradient_6", :gradientUnits => "userSpaceOnUse", :x1 => "0%", :y1 => "0%", :x2 => "100%", :y2 => "100%"}
			%stop{:"stop-color" => "#C1272D", :offset => "0"}
			%stop{:"stop-color" => "#ED1C24", :offset => "1"}
		%linearGradient{ :id => "gradient_7", :gradientUnits => "userSpaceOnUse", :x1 => "0%", :y1 => "0%", :x2 => "100%", :y2 => "100%"}
			%stop{:"stop-color" => "#C1272D", :offset => "0"}
			%stop{:"stop-color" => "#ED1C24", :offset => "1"}
		%linearGradient{ :id => "gradient_8", :gradientUnits => "userSpaceOnUse", :x1 => "0%", :y1 => "0%", :x2 => "100%", :y2 => "100%"}
			%stop{:"stop-color" => "#C1272D", :offset => "0"}
			%stop{:"stop-color" => "#ED1C24", :offset => "1"}
		%linearGradient{ :id => "gradient_9", :gradientUnits => "userSpaceOnUse", :x1 => "0%", :y1 => "0%", :x2 => "100%", :y2 => "100%"}
			%stop{:"stop-color" => "#C1272D", :offset => "0"}
			%stop{:"stop-color" => "#ED1C24", :offset => "1"}
		%linearGradient{ :id => "gradient_10", :gradientUnits => "userSpaceOnUse", :x1 => "0%", :y1 => "0%", :x2 => "100%", :y2 => "100%"}
			%stop{:"stop-color" => "#C1272D", :offset => "0"}
			%stop{:"stop-color" => "#ED1C24", :offset => "1"}
		%linearGradient{ :id => "gradient_11", :gradientUnits => "userSpaceOnUse", :x1 => "0%", :y1 => "0%", :x2 => "100%", :y2 => "100%"}
			%stop{:"stop-color" => "#C1272D", :offset => "0"}
			%stop{:"stop-color" => "#ED1C24", :offset => "1"}
		%linearGradient{ :id => "gradient_12", :gradientUnits => "userSpaceOnUse", :x1 => "0%", :y1 => "0%", :x2 => "100%", :y2 => "100%"}
			%stop{:"stop-color" => "#C1272D", :offset => "0"}
			%stop{:"stop-color" => "#ED1C24", :offset => "1"}
		%linearGradient{ :id => "gradient_13", :gradientUnits => "userSpaceOnUse", :x1 => "0%", :y1 => "0%", :x2 => "100%", :y2 => "100%"}
			%stop{:"stop-color" => "#C1272D", :offset => "0"}
			%stop{:"stop-color" => "#ED1C24", :offset => "1"}
		%linearGradient{ :id => "gradient_14", :gradientUnits => "userSpaceOnUse", :x1 => "0%", :y1 => "0%", :x2 => "100%", :y2 => "100%"}
			%stop{:"stop-color" => "#C1272D", :offset => "0"}
			%stop{:"stop-color" => "#ED1C24", :offset => "1"}
		%linearGradient{ :id => "gradient_15", :gradientUnits => "userSpaceOnUse", :x1 => "0%", :y1 => "0%", :x2 => "100%", :y2 => "100%"}
			%stop{:"stop-color" => "#C1272D", :offset => "0"}
			%stop{:"stop-color" => "#ED1C24", :offset => "1"}
		%linearGradient{ :id => "gradient_16", :gradientUnits => "userSpaceOnUse", :x1 => "0%", :y1 => "0%", :x2 => "100%", :y2 => "100%"}
			%stop{:"stop-color" => "#C1272D", :offset => "0"}
			%stop{:"stop-color" => "#ED1C24", :offset => "1"}
		%linearGradient{ :id => "gradient_17", :gradientUnits => "userSpaceOnUse", :x1 => "0%", :y1 => "0%", :x2 => "100%", :y2 => "100%"}
			%stop{:"stop-color" => "#C1272D", :offset => "0"}
			%stop{:"stop-color" => "#ED1C24", :offset => "1"}
		%linearGradient{ :id => "gradient_18", :gradientUnits => "userSpaceOnUse", :x1 => "0%", :y1 => "0%", :x2 => "100%", :y2 => "100%"}
			%stop{:"stop-color" => "#C1272D", :offset => "0"}
			%stop{:"stop-color" => "#ED1C24", :offset => "1"}
		%linearGradient{ :id => "gradient_19", :gradientUnits => "userSpaceOnUse", :x1 => "0%", :y1 => "0%", :x2 => "100%", :y2 => "100%"}
			%stop{:"stop-color" => "#C1272D", :offset => "0"}
			%stop{:"stop-color" => "#ED1C24", :offset => "1"}
#graph
	