body
	color: #444
	background: radial-gradient(rgb(235,235,235), rgb(212,212,212) 100%)

#body_wrapper


#header
	+padding-leader(1)
	+padding-trailer(1)
	padding-right: rhythm(1)
	text-align: right
	font-family: "museo_slab", Helvetica
	p
		+adjust-font-size-to(24px)

	h1
		+adjust-font-size-to(47px,1.5)
		span
			color: #777