#graph
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 300px

#info,
.job_info,
.category_info
  position: absolute
  top: 0
  left: 0
  height: 40px
  z-index: 1000
  +adjust-font-size-to(12px)
  background: rgba(255,255,255,0.75)
  padding: 10px
  &.hidden
    display: none
  &:before
    content: ""
    width: 0px
    height: 0px
    border-style: solid
    border-width: 10px 17.3px 10px 0
    border-color: transparent rgba(255,255,255,0.75) transparent transparent
    position: absolute
    left: -17px

#info2
  position: absolute
  top: 0
  left: 0
  width: 300px
  height: 50px
  +adjust-font-size-to(20px)
  padding: 10px
  z-index: 100

svg

  text
    font-size: 12px
    pointer-events: none
  
  text.parent
    fill: #1f77b4
  
  circle
    fill: #ccc
    stroke: #999
    pointer-events: all
  
  circle.parent
    fill: #1f77b4
    fill-opacity: .1
    stroke: steelblue
  
  circle.category:hover
    stroke: #ff7f0e
    stroke-width: .5px

  circle.sub_category
    pointer-events: none

  @for $i from 1 to 19
    circle.gradient_#{$i}
      fill: url(#gradient_#{$i})

  circle.job_active
    fill: red